# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# DVC cache
.dvc/
.dvcignore
dvc.lock
!.dvc/config

# Env files
.env

# OS files
.DS_Store
Thumbs.db